@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'");
body{
    font-family: "inter", sans-serif;
    background-color: beige;
}
main {
    width: 500px;
    height: 600px;
    background-color: aliceblue;
    margin: 40px auto;
    border-radius: 30px;
}
h1{
    text-align: center;
}
.contenedor{
    padding:20px;
}
.alertas {
    color: red;
}

.ingresos {
    padding: 10px;
}